*.xlsx
data/excel_exports/
*_just_for_me.ipynb
later_*/
a_treure_mes_tard.txt
commands.txt
instructions.txt
.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
*.pyo
data_validation/analysis/understanding_stdev.py
data_validation/analysis/edge_weight_validation_report.txt
graph_inspection/graph_draw/resources/graph_zoom_*
routing_algorithms/dijkstra/resources/dijkstra_*_to_*.txt
.theory_notes/LL. A. - Shortest paths algorithms in weighted graphs *.pdf
