*.xlsx
src/gtfs/data/excel_exports/
*_just_for_me.ipynb
later_*/
a_treure_mes_tard.txt
commands.txt
instructions.txt
.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
*.pyo
data_validation/analysis/understanding_stdev.py
data_validation/analysis/edge_weight_validation_report.txt
routing_algotithms/graph_draw/graph_zoom_*
